<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MetaWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <style>
        html {
        box-sizing: border-box;
        }
        *, *:before, *:after {
        box-sizing: inherit;
        }
        body{
            background-color: whitesmoke;
        }

        iframe[src*=youtube] {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    padding-bottom: 10px;
                }
    </style>
</head>

<body>
    <div id="loader" class="ui disabled dimmer">
        <div class="ui text loader">Preparing your Mata! Take a few seconds ... :)</div>
    </div>


<div class='ui padded centered grid'>
    <!-- Messaging system -->
    <div class="row">
        <div class="center aligned column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div style="height:10%; display:flex; align-items: center; justify-content: center">
                        {% for category, message in messages %}
                            {% if category == error%}
                                <h3 style="color:red">{{ message }}</h3>
                            {% else %}
                                <h3 style="color:green">{{ message }}</h3>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    

    <!-- Heading of the page -->
    <div class="row">
        <div class='center aligned column'>
            <h1>Hello, Meta World!</h1>
        </div>
    </div>
    
    <!-- Submission form -->
    <div class="row">
        <div class='center aligned column'>
            <form id='formsubmit' method="post" action="MetaWorld" enctype = "multipart/form-data">
    
                <div class="ui buttons">
                    <div id='uploadimage' class="ui button" style="align-items: center;">
                        <i class="image icon"></i>
                        Upload Image
                    </div>

                </div>
        
                <input type='file' id='hiddeninputfile' accept="image/*" name = 'image' style="display: none"/>
                <input type="file" id="hiddeninputvideo" accept="video/*" name = 'video' style="display: none">
                <!-- <input id='submitbutton' class='ui button' type='submit'/> -->
            </form>
        </div>
    </div>
    {%if cartoonized_image or cartoonized_video%}
    <div class="row">
        <div class="column">
            <!-- Nested grid -->
            <div class="ui centered grid">
                <div class="row">
                    <div class="center aligned column">
                        {%if cartoonized_image%}
                        <div class="ui large centered image">
                            <div class="image">
                                <img src="{{ cartoonized_image }}">
                            </div>
                        </div>
                        {%endif%}

                    </div>
                </div>
                <div class="row">

                    {%if cartoonized_image%}
                        <a href={{cartoonized_image}} download>
                            <button class="ui primary button">
                                <i class="download icon"></i>
                                Download
                            </button><br>

                        </a>
                    {%endif%}
                    
                </div>
				<!-- XXX -->
                <div class="row">
                    <div class="ui stackable three column grid"> 
                        <div class="three column row">
                            <div class="center aligned column">
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endif%}

    <div class="ui divider"></div>
    <!-- Sample Images -->

    <div class="row">
        <div class="seven wide column">
            <img class="ui large centered image" src="/static/sample_images/trump-07.jpg">
        </div>
        <div class="seven wide column">
            <img class="ui large centered image" src="/static/sample_images/trump-07_meta.jpg">
        </div>
    </div>

    <div class="row">
        <div class="seven wide column">
            <img class="ui large centered image" src="/static/sample_images/pretty_girl02.jpg">
        </div>
        <div class="seven wide column">
            <img class="ui large centered image" src="/static/sample_images/pretty_girl02_mata.jpg">
        </div>
    </div>

    <div class="row">
        <div class="seven wide column">
            <img class="ui large centered image" src="/static/sample_images/pretty_girl01.jpg">
        </div>
        <div class="seven wide column">
            <img class="ui large centered image" src="/static/sample_images/pretty_girl01_mata.jpg">
        </div>
    </div>

    <!-- FAQs -->

    <div class="row">
        <div class="center aligned column">
            <h3> 2022 <i class="heart icon"></i> MetaWorld </h3>
        </div>
        
    </div>
    
</div>


<script>
    $('.ui.accordion')
  .accordion()
;
    $("#uploadimage").on("click", function() {
        $('#hiddeninputfile').click(); 
    });

    $("#uploadvideo").on("click", function() {
        $('#hiddeninputvideo').click(); 
    });

    document.getElementById("hiddeninputfile").onchange = function() {
        $('#loader').removeClass('disabled').addClass('active');
        document.getElementById("formsubmit").submit();
        
    };

    var recorder = document.getElementById('recorder');
</script> 
</body>
</html>
